<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pancancer.dao.Browse3DAO">

    <!--查询所有-->
    <select id="findAll" resultType="Browse3">
        select pathway,description from browse3
    </select>

</mapper>