<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head('Search by pathway')"></head>
<body>
<div class="container-fluid">
    <div th:insert="common::header"></div>

    <nav th:insert="common::navSearch"></nav>

    <nav th:insert="common::breadcrumbSearch"></nav>

    <div class="card" style="margin-top:-16px; margin-bottom: 30px">
        <div class="card-header" style="background-color: #B8DAFF">
            <p class="card-text" style="font-size:20px" th:text="'Mutation in the '+${searchItem.name}+' in Genecast Cohort'"></p>
        </div>
        <input id="pathwayname" type="hidden" th:value="${searchItem.name}">
        <div class="card-body">
            <ul th:insert="common::geneNav"></ul>
            <div class="tab-content">
                <div id="somatic" class="tab-pane active"><br>
                    <div class="card-header">
                        <h5 th:text="'The carrier ratio of somatic mutations of genes in '+${searchItem.name}"></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10" style="text-align: center">
                                <img th:src="@{'/img/somatic '+${searchItem.name}+'.svg'}" alt="Cinque Terre" align="middle" style="width: 80%; margin: 0 auto">
                            </div>
                            <div class="col-sm-2">
                                <a th:href="@{'/img/somatic '+${searchItem.name}+'.png'}" th:download="'The carrier ratio of somatic mutations of genes in '+${searchItem.name}+'.png'"><img th:src="@{/img/download.png}" width="15px" height="12px"></a>
                            </div>
                        </div>
                        <table id="searchPathwaySomaticTable"></table>
                    </div>
                </div>
                <div id="germline" class="tab-pane fade"><br>
                    <div class="card-header">
                        <h5 th:text="'The carrier ratio of germline mutations of genes in '+${searchItem.name}"></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10" style="text-align: center">
                                <img th:src="@{'/img/germline '+${searchItem.name}+'.svg'}" alt="Sorry, no germline mutated genes were detected in this pathway." align="middle" style="width: 80%; margin: 0 auto">
                            </div>
                            <div class="col-sm-2">
                                <a th:href="@{'/img/germline '+${searchItem.name}+'.png'}" th:download="'The carrier ratio of germline mutations of genes in '+${searchItem.name}+'.png'"><img th:src="@{/img/download.png}" width="15px" height="12px"></a>
                            </div>
                        </div>
                        <table id="searchPathwayGermlineTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchPathwaySomaticTable").bootstrapTable({
            url:"/cpgv/SearchPathwaySomaticTableInfo",
            striped : true,
            theadClasses: "thead-blue",
            classes: "table table-hover table-striped table-sm",
            pageNumber : 1,
            pagination : true,
            sidePagination : 'client',
            pageSize : 10,
            pageList : [ 10, 20],
            showRefresh : false,
            search:true,
            columns : [ {
                title : 'Gene Name',
                field : 'gene',
                align: 'center',
                formatter:function(value,row,index) {
                    var url = '<a href="/cpgv/BrowseSomaticGene?gene='+ value +'" target="_blank">' + value +'</a>';
                    return url;
                },
                sortable : true
            },{
                title : 'Residue.g',
                field : 'gnumber',
                align: 'center',
                formatter: function(value,row,index) {
                    var url = '<a href="/cpgv/BrowseSomaticSite?site='+ row.gene+'.'+value +'" target="_blank">' + value +'</a>';
                    return url;
                },
                sortable : true
            },{
                title : 'Chromosome',
                field : 'chr',
                align: 'center',
                formatter: function(value,row,index) {
                    var url = '<span style="color:black;">'+value+'</span>';
                    return url;
                },
                sortable : true
            },{
                title : 'Position',
                field : 'func',
                align: 'center',
                formatter: function(value,row,index) {
                    return '<span style="color:black;">'+value+'</span>';
                },
                sortable : true
            },{
                title : 'Type',
                field : 'exonicFunc',
                align: 'center',
                formatter: function(value,row,index) {
                    return '<span style="color:black;">'+value+'</span>';
                },
                sortable : true
            }]
        })
    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchPathwayGermlineTable").bootstrapTable({
            url:"/cpgv/SearchPathwayGermlineTableInfo",
            striped : true,
            theadClasses: "thead-blue",
            classes: "table table-hover table-striped table-sm",
            pageNumber : 1,
            pagination : true,
            sidePagination : 'client',
            pageSize : 10,
            pageList : [ 10, 20],
            showRefresh : false,
            search:true,
            columns : [ {
                title : 'Gene Name',
                field : 'gene',
                align: 'center',
                formatter:function(value,row,index) {
                    var url = '<a href="/cpgv/BrowseGermlineGene?gene='+ value +'" target="_blank">' + value +'</a>';
                    return url;
                },
                sortable : true
            },{
                title : 'Residue.g',
                field : 'gnumber',
                align: 'center',
                formatter: function(value,row,index) {
                    var url = '<a href="/cpgv/BrowseGermlineSite?site='+ row.gene+'.'+value +'" target="_blank">' + value +'</a>';
                    return url;
                },
                sortable : true
            },{
                title : 'Chromosome',
                field : 'chr',
                align: 'center',
                formatter: function(value,row,index) {
                    var url = '<span style="color:black;">'+value+'</span>';
                    return url;
                },
                sortable : true
            },{
                title : 'Position',
                field : 'func',
                align: 'center',
                formatter: function(value,row,index) {
                    return '<span style="color:black;">'+value+'</span>';
                },
                sortable : true
            },{
                title : 'Type',
                field : 'exonicFunc',
                align: 'center',
                formatter: function(value,row,index) {
                    return '<span style="color:black;">'+value+'</span>';
                },
                sortable : true
            }]
        })
    })
</script>




<script th:replace="commonJS::statistics"></script>
</html>